* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* navbar start from hree */


.container {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: dark
}

.navbar {
    background-color: rgba(233, 232, 232, 0.3) !important;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;

}

nav ul li a {
    color: #353535;
    transition: .4s;
}

.mithun {
    color: #8EC448;
}

nav ul li a:hover {
    color: #52eb4d !important;
}

/* navbar end from here */

/* slider start from here */

#slider-section {

    background: url(image/bg-img.png);
    background-size: cover;

    background-repeat: no-repeat;
    padding: 350px 0 250px 0;

}

.your-success {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

}

/* slider end from here */

/* our service start from here */

.best-coice {

    font-size: 60px;
}

.our {
    width: 50%;
    margin: 0 auto;
}

.our-hr {
    width: 80px;
    border-top: 3px solid black;
    margin: 0 auto;
}

.service-l-text {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.servies {
    margin-right: px;
}

.services p {
    font-weight: 300;
}

.button-div {
    display: inline-block;
    line-height: 4;
}

/* our services end from here */


/* our section start  from here */

#our_section {
    margin-top: 107px;
}

.row-div {

    margin-top: 45px;
}

.text-center h2 {


    font-weight: 700;
    font-size: 35px;
    font-family: 'Raleway', sans-serif
}

.rahul {

    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.active-all {

    color: chartreuse;
}

/*  our section end from here */


.image-div img {

    width: 360px;
    height: 340px;
    margin-bottom: 20px;
    transition: .4s;

}

.image-div {
    margin-bottom: 40px;
}

.image-div img:hover {
    cursor: pointer;
    box-shadow: 2px 6px 5px black;
}

/* about unify start */

.about-unify {


    color: white;
    margin-top: 60px;
    margin-bottom: 100px;

}

.about-unify-image {

    position: relative;
}

.about-bar {
    position: absolute;
    width: 16px;
    height: 308px;
    background-color: #8EC448;
    top: 18px;
    right: -280px;
    left: 486px;
    transform: skewX(-26deg);
}

.our-unify {
    width: 80%;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: black;
}

.unify-text-right {
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}

/* about unify end */

/* our skill start from here */
.our-skill {

    position: relative;
    margin-bottom: 0;
    padding: 0;
    background: #F1F1F1;
}

.our-skill-right {
    margin-top: 20px;
}

.our-skill-right h2 {
    font-weight: 700;
    font-size: 33px;
}

.progress-bar {

    background: #8EC448 !important;

}

.our-skill-left img {
    width: 70%;
    height: 400px;

}

.our-skill-left {

    position: absolute;
    bottom: -15px;
    margin-left: 25px;
    margin-top: 20px;
    width: 70%;
    height: 400px;

}

/* our skill end from here */


/* Skill design start from here */


.skill-container li {
    list-style-type: none;
    font-weight: bold;
    margin: 35px 10px;
    position: relative;
    text-transform: uppercase;

}

.skill-parcent {
    position: absolute;
    right: 1%;
    top: 1%;
}

.skill-container::after {
    content: '';
    display: table;
    clear: both;

}

.skill-container li::before {
    content: "";
    width: 100%;
    height: 10px;
    background-color: rgb(230, 220, 220);
    position: absolute;
    top: calc(100% + 5px);
    left: 0px;
    border-radius: 10px;
}

.skill-container li::after {
    content: "";
    width: 0;
    height: 10px;
    background-color: #8EC448;
    ;
    position: absolute;
    top: calc(100% + 5px);
    left: 0px;
    border-radius: 10px;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

}

/* animation for html */
.skill-container ul li.html::after {
    animation-name: html;

}

@keyframes html {
    to {
        width: 55%;
        color: red;
    }
}

/* animation for css */
.skill-container ul li.css::after {
    animation-name: css;

}

@keyframes css {
    to {
        width: 70%;
        color: #8EC448;
        ;
    }
}

/* animation for javascript */
.skill-container ul li.javascript::after {
    animation-name: javascript;

}

@keyframes javascript {
    to {
        width: 95%;
        color: #8EC448;

    }
}

/* animation for jquery */
.skill-container ul li.jquery::after {
    animation-name: jquery;

}

@keyframes jquery {
    to {
        width: 70%;
        color: #8EC448;

    }
}

/* animation for bootstrap */
.skill-container ul li.bootstrap::after {
    animation-name: bootstrap;

}

@keyframes bootstrap {
    to {
        width: 55%;
        color: #8EC448;
    }
}

.card {
    background: #F1F1F1;
    border: none;


}


/* Skill design end from here */


/* our crative start from here */

.crative-image {
    width: 370px;
    background: #F7F7F7;
    text-align: center;
    margin-top: 20px;
    transition: .4s;
    position: relative;
}

.crative-image:hover {
    box-shadow: 2px 6px 5px black;
    cursor: pointer;

}

.crative-image img {
    margin-top: 20px;

}

.crative-team {
    margin-bottom: 50px;
}


/* our crative end from here */


/* happy client start */


.client-part{
    width: 100%;
    height: 100%;
    position: relative;
  
}
.overlay-client{
    width:100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, .6);
    top: 0;
}

.happy-client-text {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    transition: .4s;
    color: rgb(230, 220, 220);
}

.client-image-left img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: black;
    border: 1px solid white;
    padding: 2px;

}

.client-image-right img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: black;
    border: 1px solid white;
    padding: 2px;
    transition: .4s;


}




.client-image-left img:hover {
    cursor: pointer;
    box-shadow: 2px 6px 5px black;

}

.client-image-right img:hover {
    cursor: pointer;
    box-shadow: 2px 6px 5px black;
}

section#client-section {
    background-image: url(image/Unify-client.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .4 black;
    background: transparent black;
}

.client-text {
    height: 90%;
    width: 80%;
    background: rgba(245, 242, 242, 0.808);
    margin-left: 10px;
    padding: 20px;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;

}

.work-image{
    position: relative;
    width: 100%;
    width: 100%;
}

/* our work overlay design start */

.overlay {
    position: absolute;
    text-align: center;
    width: 95%;
    height: 95%;
    background: rgba(0, 0, 0, .6);
    top: 0;
    left: 2;
    bottom: -5;
    right: -5;
    transform: scale(0);
    transition: all .4s;

}
@media only screen and (max-width: 600px) {
    .overlay{
            position: absolute;
            text-align: center;
            width: 73.5%;
            height: 95%;
            background: rgba(155, 25, 25, 0.6);
            top: 0;
            transform: scale(0);
            transition: all .4s;
    }
}

.work-image:hover .overlay {
    transform: scale(1);
}

.overlay-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-bottom: 68px;
    transition: .4s;
}

 

.overlay-icon:hover i {
    color: orange;
    background: red;
      cursor: pointer;
}


.overlay-icon i {
    background: #8ec448;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;

}

.overlay-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    margin-bottom: 14px;
    text-align: center;



}

.overlay-text h2 {

    font-family: 'Raleway', sans-serif;

    color: #8ec448;
    font-size: 20px;
    font-weight: bold;
    left: -50%;

}

.overlay-text p {
    font-family: 'Lato', sans-serif;
    font-weight: 500;

    color: white;


}




/* our work overlay design start */


/* happy client end */
/* our crative team start */
.overlay-crative-1,
.overlay-crative-3 {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 40%;
    background: rgba(0, 0, 0, .6);
    top: 60%;
    transform: scale(0);
    transition: all .4s;


}

.crative-image:hover .overlay {
    transform: scale(1);
}

.overlay-crative-icon i {
    color: white;
    font-size: 35px;
    transition: all.4s;
    margin-left: 22px;



}

.overlay-crative-icon i:hover {
    color: red !important;


}

.overlay-crative-icon {
    transform: translateY(280px);

}

.overlay-crative-2 {
    width: 100%;
    height: 100%;
}

/* our crative team end  */

/* ourblog design start from here */
.ourblog-heading-text {

    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 16px;
    margin-bottom: 40px
}

.ourblog p {
    color: #919191;
}

.blog-first-div img {
    width: 100%;
    height: 100%;
    position: relative;

}

.overlay-ourblog {
    position: absolute;
    text-align: center;
    width: 83%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    top: 0;
    transform: scale(0);
    transition: all .4s;


}

.blog-first-div:hover .overlay {
    transform: scale(1);
}

.blog-second-div p {
    content: "";
    display: block;
    clear: both;
}

.blog-second-div h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Raleway',
        sans-serif;
    font-weight: bold;

}


.blog-four-div h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Raleway',
        sans-serif;
    font-weight: bold;


}

.blog-third-div img {
    width: 110%;
    height: 100%;
    position: relative;

}

.partners ul {
    position: relative;
}

.partners ul li {
    list-style: none;
    display: inline;
    margin: 0 auto;
    width: 190px;
    height: 54px;
    padding: 10px;
    border: 2px solid #DDDDDD;
    text-align: center;


}

.partners ul::after {
    content: '';
    position: absolute;
    width: 95%;
    height: 10px;
    background: #DDDDDD;
    bottom: -30px;
    left: 2%;
    text-align: center;
    border-radius: 3px;


}

.green-div {
    position: relative;

}

.green-div::after {
    content: '';
    position: absolute;
    width: 18%;
    height: 10px;
    background: #90C54C;
    bottom: -14px;
    left: 41%;
    text-align: center;
    border-radius: 3px;



}


/* ourblog design end from here */

/* news letter part design start from here */

.news-letter p {
    color: rgba(235, 229, 229, 0.712);
    font-family: 'Lato',
        sans-serif;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
}

.signup-btn i {
    color: white;
    font-size: 20px;
}

.signup-btn {

    border: 1px solid #CED4DA;
    outline: rgba(143, 141, 141, 0.527);

}

.input-group {
    width: 60%;
    margin: 0 auto;
}

.input-group input::placeholder {
    color: white;
}

.input-group button:focus {
    outline: none;
}

.overlay-news {

    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(image/our-partner-down.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    position: relative;
}


.overlay-newsletter {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
    transition: all .4s;

}

/* footer part design start from here */

.footer-hr {
    width: 100%;

    border-bottom: 2px solid #888;
    margin-bottom: 50px;

}

.footer-part-1 a {

    text-decoration: none;
    font-family: 'Lato',
        sans-serif;
    font-style: normal;
    letter-spacing: 1.5px;
    color: #949494;

}

.footer-part-1 p {

    text-decoration: none;
    font-family: 'Lato',
        sans-serif;
    font-style: normal;

    color: #757575;

}

.footer-part-1 a {
    margin-bottom: 10px;
}

.footer-part-2 h2 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Raleway',
        sans-serif;

}

.footer-part-3 h2 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Raleway',
        sans-serif;

}

.footer-part-4 h2 {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Raleway',
        sans-serif;

}


.footer-part-2 img {
    width: 100px;
    height: 100px;
    margin: 7px;
    overflow: hidden;
}

.footer-part-3 i {
    color: #1DA1F2;
}

.footer-part-3 p {

    font-family: 'Lato',
        sans-serif;
    font-style: normal;
    line-height: 25px;
    color: #757575;
}

.popular-post h3 {

    font-size: 15px;

    font-family: 'Lato',
        sans-serif;
    font-style: 500;

    color: #757575;


}

.popular-post img {
    width: 100px;
    height: 100px;
}

.popular-post p {

    font-size: 12px;

    font-family: 'Lato',
        sans-serif;
    font-style: normal;

    color: #757575;


}
.copyright{
     font-size: 13px;
     font-family: 'Lato',
     sans-serif;
     font-style: normal;
   margin-top: 16px;
     color: #757575;
}

.footer-social {
    margin-bottom: 10px;
}
.footer-social ul li{
    list-style: none;

}

.footer-social i {
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    border: 1px solid #757575;
    margin-right: 10px;
    cursor: pointer;
}

.footer h6{
  
    font-size: 12px;
    font-weight: 600;
    margin-top: 16px;
  
}
.footer h6 span{
    color: rgb(33, 165, 55);
    font-size: 12px;
    font-weight: 600;
}
/* footer part design end from here */